/* tailwind base */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* main styles */
@import "site.pcss";

/* syntax highlighting */
@import "vendor/chroma.css";

/* webfonts */
@import "vendor/webfont.css";

/* github corner */
@import "vendor/github-corner.pcss";

/* tailwind utilities */
@import "tailwindcss/utilities";
