<link rel="manifest" href="/manifest.json"/>

<link rel="shortcut icon" sizes="196x196" href="/img/favicons/favicon-196.png"/>

<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png"/>
<link rel="icon" type="image/png" sizes="64x64" href="/img/favicons/favicon-64.png"/>
<link rel="icon" type="image/png" sizes="128x128" href="/img/favicons/favicon-128.png"/>
<link rel="icon" type="image/png" sizes="152x152" href="/img/favicons/favicon-152.png"/>
<link rel="icon" type="image/png" sizes="167x167" href="/img/favicons/favicon-167.png"/>
<link rel="icon" type="image/png" sizes="180x180" href="/img/favicons/favicon-180.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192.png"/>
<link rel="icon" type="image/png" sizes="196x196" href="/img/favicons/favicon-196.png"/>
<link rel="icon" type="image/png" sizes="256x256" href="/img/favicons/favicon-256.png"/>
<link rel="icon" type="image/png" sizes="512x512" href="/img/favicons/favicon-512.png"/>
<link rel="icon" type="image/png" sizes="1024x1024" href="/img/favicons/favicon-1024.png"/>


<link rel="apple-touch-icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="64x64" href="/img/favicons/favicon-64.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="128x128" href="/img/favicons/favicon-128.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/img/favicons/favicon-152.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/img/favicons/favicon-167.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/favicons/favicon-180.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="196x196" href="/img/favicons/favicon-196.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="256x256" href="/img/favicons/favicon-256.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="512x512" href="/img/favicons/favicon-512.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="1024x1024" href="/img/favicons/favicon-1024.png"/>
