<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="#fb8c00" name="theme-color"/>
<meta content="#212121" name="background-color"/>
<meta content="noindex" name="robots">
<meta http-equiv="Content-Security-Policy"
      content="block-all-mixed-content; default-src 'self'; worker-src 'self'; font-src 'self'; form-action 'self'; frame-src 'self'; img-src 'self' data: x.felix.dev; object-src 'none'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline';">

<link rel="shortcut icon" href="/favicon.png"/>
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">

<meta property="og:url" content="{{ .Page.Permalink }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ .Page.Title }}"/>
<meta property="og:description" content="{{ .Page.Description }}"/>
<meta property="og:image" content="/favicon.png"/>

<title>{{ .Page.Title }} • {{ .Site.Title }}</title>

<link href="{{ .Page.Permalink }}" rel="canonical"/>

{{ $style := resources.Get "css/main.css" | resources.PostCSS | resources.Minify | resources.Fingerprint }}
<link as="style" href="{{ $style.Permalink }}" rel="preload"/>
<link href="{{ $style.Permalink }}" rel="stylesheet"/>
