{{ $header_bg := resources.Get "img/header_bg.svg" | resources.Minify | resources.Fingerprint }}
<div id="header_container" style="background-image: url({{ $header_bg.Permalink }})">
    <div id="header-content">
        <nav class="p-4 mt-0 mb-1 w-full">
            <div class="container mx-auto flex flex-wrap items-center">
                <div class="flex w-full md:w-1/2 justify-center md:justify-start font-extrabold">
                    <a class="no-underline hover:hover:underline" href="/">
                        <span class="text-2xl pl-2">{{ .Site.Title }}</span>
                    </a>
                </div>
                <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                    <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                            {{ if .HasChildren }}
                                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                    <a href="#">
                                        {{ .Pre }}
                                        <span>{{ .Name }}</span>
                                    </a>
                                </li>
                                <ul class="sub-menu">
                                    {{ range .Children }}
                                        <li class="{{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}">
                                            <a href="{{ .URL }}">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            {{ else }}
                                <li>
                                    <a href="{{ .URL }}">
                                        {{ .Pre }}
                                        <span>{{ .Name }}</span>
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mx-auto" id="header-title">
            {{ if .Page.Title }}
                <h1>{{ .Page.Title }}</h1>
            {{ end }}
        </div>
    </div>
</div>