<meta charset="utf-8">
<meta name="referrer" content="same-origin">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="#fb8c00" name="theme-color"/>
<meta content="#212121" name="background-color"/>
<meta content="noindex" name="robots">

{{ partial "favicons.html" . }}

<meta property="og:url" content="{{ .Page.Permalink }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ .Page.Title }}"/>
<meta property="og:description" content="{{ .Page.Description }}"/>
<meta property="og:image" content="/favicons/apple-touch-icon-1024x1024.png"/>

<title>{{ .Page.Title }} • {{ .Site.Title }}</title>

<link href="{{ .Page.Permalink }}" rel="canonical"/>

{{ $style := resources.Get "css/main.css" | minify | fingerprint }}
<link as="style" href="{{ $style.Permalink }}" rel="preload"/>
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media='all' />

