@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-black text-white antialiased leading-tight font-mono font-normal;
}

body {
  @apply min-h-screen h-full flex flex-col items-stretch justify-center;
  background-color: theme("colors.grey-900");
  font-size: 12pt;
  position: relative;
}

/* homepage-content */
div.homepage-content {
  @apply font-mono;
}

h1 {
  @apply text-3xl my-8;
}

h2 {
  @apply text-2xl my-6;
}

h3 {
  @apply text-xl font-semibold my-4;
}

h4 {
  @apply text-lg font-bold;
}

b,
strong {
  @apply font-semibold;
}

hr {
  @apply my-8 border-dashed border-2 border-grey-700;
}

blockquote {
  @apply pl-2 mb-4;
}

section.section {
  @apply my-8;
}

/* timeline */

div.timeline {
  @apply w-full h-auto mt-2;

  & > ol,
  & > ul {
    & > li {
      position: relative;
      padding-bottom: 1em;
      padding-left: 1.5em;
      margin: 0 0 0.25em;

      // add a timeline to the left of the item

      &:before {
        background-color: theme("colors.secondary");
        content: "";
        position: absolute;
        bottom: -0.75em;
        top: 0.5em;
        left: 0.1em;
        width: 0.5em;
        z-index: 0;
        // this is at the very bottom
      }

      // add a bullet inside the tiemeline

      &:after {
        content: "";
        $col_secondary: theme("colors.secondary");
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 128 128' focusable='false'><circle stroke='none' fill='$col_secondary' cx='64' cy='64' r='64'></circle></svg>");
        position: absolute;
        left: 0;
        top: 0.375em;
        height: 0.7em;
        width: 0.7em;
      }

      // fade out the timeline after the last item

      &:last-child:before {
        background-color: transparent;
        background-image: linear-gradient(to bottom, theme("colors.secondary"), theme("colors.secondary"), transparent);
      }

      // the title of a timeline item is marked with ** in markdown

      & > strong {
        @apply inline-block text-grey-900;

        position: relative;
        font-size: 1em;
        font-weight: bold;
        background-color: theme("colors.primary");
        padding: 0.1em 1em 0.1em 1.5em;
        margin: 0 0 0.5em -1.9em;

        border-radius: 1em;
      }

      // list items in the child are displayed as small items on the timeline

      & > ul,
      & > ol {
        list-style-type: none;

        & > li {
          position: relative;

          // add a small link to the timeline on the left

          &:before {
            content: "";
            position: absolute;
            left: -0.9em;
            top: 0.5em;
            height: 0.25em;
            width: 0.5em;
            z-index: 99;
            background-color: theme("colors.secondary");
            border-bottom-right-radius: 0.5em;
            border-top-right-radius: 0.5em;
          }
        }
      }
    }
  }
}

#header {
  @apply flex-initial pt-0 pb-4 mb-4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;

  @screen sm {
    @apply pb-8;
  }

  @screen md {
    @apply pb-12;
  }

  @screen lg {
    @apply pb-16;
  }

  @screen xl {
    @apply pb-24;
  }

  #header-content {
    @apply px-4 w-full h-auto text-grey-400;

    #header-title {
      @apply pt-0 text-center;

      @screen sm {
        @apply pt-1;
      }

      @screen md {
        @apply pt-2;
      }

      @screen lg {
        @apply pt-3;
      }

      @screen xl {
        @apply pt-4;
      }

      & > h1 {
        @apply text-5xl px-2 font-bold text-primary;
      }
    }
  }
}

#footer {
  @apply flex-initial pt-8 pb-8 mt-4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;

  @screen sm {
    @apply pt-8;
  }

  @screen md {
    @apply pt-12;
  }

  @screen lg {
    @apply pt-16;
  }

  @screen xl {
    @apply pt-20;
  }

  #footer-content {
    @apply p-4 w-full h-auto text-grey-600 font-bold;
    text-align: right;
  }
}

#content {
  @apply flex-grow px-4 py-0;
}
